# ========================
# Ejecutables
# ========================
*.exe
*.out
*.app

# ========================
# Archivos compilados
# ========================
*.o
*.obj
*.class
*.d
*.gch

# ========================
# Carpetas generadas
# ========================
build/
dist/
out/

# ========================
# NetBeans
# ========================
nbproject/private/
nbproject/build-impl.xml
nbproject/genfiles.properties

# ========================
# Logs y archivos temporales
# ========================
*.log
*.tmp
*.swp

# ========================
# Sistema operativo
# ========================
.DS_Store
Thumbs.db